/*
 * Globals
 */

/* Links */


/* Custom default button */

/*
 * Centering Utility
 */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: middle;
}

/*
 * Base structure
 */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-family: 'Oswald', sans-serif;
  line-height: 70px;
  letter-spacing: 1px;
  font-weight: 700;
}

h3 {
  font-weight: 100;
  margin-bottom: 35px;
}

h4 {
  font-weight: 100;
}

h6 {
  font-size: 20px;
}

p {
  font-weight: 100;
  font-size: 14px;
}

a {
  color: #cf393a;
}

a:hover, a:active, a:focus {
  color: #ea4242;
}

.smaller-container {
  max-width: 1000px;
}

.logo {
  margin-top: 60px;
  margin-bottom: 10px;
  max-width: 50px;
}

/* Intro */
.intro-header {
  background: url('../assets/img/intro-bg.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.tagline {
  margin-bottom: 6%;
}

.subscription-input {
  font-family: 'Oswald', sans-serif;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
  font-size: 1.3em;
  background-color: transparent;
  height: 60px;
  width: 70%;
}

.subscription-input:hover, .subscription-input:focus, .subscription-input:active {
  border-color: white;
}

.subscription-input::-webkit-input-placeholder {
  color:rgba(255, 255, 255, 0.8);
  font-weight: 100;
  line-height: 1.5em;
  text-align:center;
}

.subscription-input:-moz-placeholder {
  color:rgba(255, 255, 255, 0.8);
  font-weight: 100;
  line-height: 1.5em;
  text-align:center;
}

.subscription-input::-moz-placeholder {
  color:rgba(255, 255, 255, 0.8);
  font-weight: 100;
  line-height: 1.5em;
  text-align:center;
}

.subscription-input::-ms-input-placeholder {
  color:rgba(255, 255, 255, 0.8);
  font-weight: 100;
  line-height: 1.5em;
  text-align:center;
}

.subscribe {
  white-space: normal;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1.5em;
  width: 70%;
  background-color: #cf393a;
}

.subscribe:hover,.subscribe:focus, .subscribe:active {
  background-color: #ea4242;
}

.learn-more {
  color: white;
  margin: 40px 0;
}

/* Content */
.content {
  padding: 30px 0 60px 0;
}

.description-content {
  background: url('../assets/img/description-bg.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.description-game-logo {
  max-width: 180px;
  margin: 20px auto;
}

.logo-row {
}

.white {
  color: #3c3c3c;
  background-color: white;
}

.gray {
  color: white;
  background-color: #3c3c3c;
}

.iphone-circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('../assets/img/2-iphone-right-3.png') no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.product-desc {
  text-align: left;
}

.product-desc h6 {
  margin-bottom: 0;
}

/*
 * Media Screen
 */
@media screen and (max-device-width: 480px) {
  h1 {
    margin-top: 10px;
    font-size: 1.6em;
    line-height: 36px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 1.5em;
    line-height: 30px;
  }

  h3 {
    font-size: 1.1em;
  }

  .logo {
    width: 30px;
  }

  .subscription-input {
    font-size: 1.1em;
    line-height: 10px;
    height: 58px;
    width: 90%;

  }
  .subscribe {
    font-size: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-top: 15px;
  }

}










